:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navbar {
  flex-shrink: 0;
}

router-outlet + * {
  flex: 1 0 auto;
  padding-top: 100px;
}

@media (max-width: 768px) {
  router-outlet + * {
    padding-top: 105px;
  }
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}
